<h3>Create Sub Category</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="subcategory.name" name="name">
    </div> 
    <div class="form-group">
        <label for="name">Select Categroy</label>
        <select id="categoryId"  class="form-control" required [(ngModel)]="subcategory.categoryId" name="categoryId">
            <option  *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </div> 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4> created successfully!</h4>
  <button class="btn btn-success" (click)="newSubCategory()">Add</button>
</div>